//_ underscore before variables is to let SASS know that this file should not be generated into a CSS code
$arial-family: Arial, Helvetica, sans-serif;

//Button colors
$button-primary-background: #05264d;
$button-primary-color: #fff;

$button-secondary-background: #2f74ad;
$button-secondary-color: #000;

$button-br: 6px;
$button-br-2: 8px;
